<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color: rgb(204, 202, 202); height: 20px; width: 100%;">
        <span> Home </span>
        <span> About </span>
        <span> Contact </span>
        <span> Enquiry </span>
    </div><br><br>
</body>
</html>